<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="footer-links">
    <p>Ce site a été développé avec <i class="fa fa-heart"></i> par le bureau ouvert</p>
  </div>
  <div class="footer-leagal">
    <p><%= link_to "Mentions legales", "legal.html" %></p>
  </div>
</div>