<div class="banner" style="background-image: linear-gradient(-225deg,
    rgba(0,101,168,0.6) 0%,
    rgba(0,36,61,0.6) 20%),
    url('http://cdn-europe1.new2.ladmedia.fr/var/europe1/storage/images/europe1/politique/cinq-anecdotes-sur-le-perchoir-de-lassemblee-nationale-3373655/42017945-1-fre-FR/Cinq-anecdotes-sur-le-perchoir-de-l-Assemblee-nationale.jpg');">
  <div class="banner-content">
    <h1>Imaginons ensemble <br>la démocratie de demain</h1>
    <a href="https://framaforms.org/inscriptions-aux-journees-bureau-ouvert-de-paula-forteza-a-lassemblee-nationale-1506093899" class="btn btn-primary btn-lg">Inscrivez vous pour
      <br>le prochain bureau ouvert</a>
  </div>
</div>