<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="images/logo.png" alt="logo">
      </a>
    </div>

    <!-- Right Navigation -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://forum.parlement-ouvert.fr/" class="navbar-item navbar-link" target="_blank">Le forum</a>
        </li>
        <li>
          <a href="https://framagit.org/parlement-ouvert" class="navbar-item navbar-link" target="_blank">
            <img src="https://png.icons8.com/gitlab/win10/50/000000">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>