<div id="presentation-wrapper" class="container-fluid">
  <div class="row">
    <div id="presentation" class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Le bureau ouvert</h1>
        <h2>L'objectif</h2>
        <p>Le bureau ouvert est une initiative de la député Paula FORTEZA qui a pour objectif
          de mettre à disposition des citoyens un lieu pour :</p>
        <ul>
          <li>Développer des outils permettant de simplifier la vie des élus et des administrations ;</li>
          <li>Imaginer comment améliorer le processus participatif ;</li>
          <li>Encourager la production de biens communs.</li>
        </ul>
        <h2>Le fonctionnement</h2>
        <p>Le bureau ouvert a lieu chaque vendredi à l'Assemblée Nationale
          (<a href="https://framaforms.org/inscriptions-aux-journees-bureau-ouvert-de-paula-forteza-a-lassemblee-nationale-1506093899">inscription obligatoire ici 4 jours avant</a>)
          et chaque lundi soir dans un lieu extérieur. Il est également possible de participer
          à distance via <a href="https://forum.parlement-ouvert.fr/">le forum</a>
        </p>
      </div>
    </div>
  </div>
</div>