<div id="projects" class="container-fluid">
  <h1>Les projets du bureau ouvert</h1>
  <div class="row">
    <div class="container-fluid">
      <% data.projects.each do |project| %>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-header">
                <h3><%= project.name %></h3>
              </div>
              <div class="card-body">
                <p><%= project.description %></p>
                <% unless project.status.nil? %>
                  <p>Etat d'avancement : <%= project.status %></p>
                <% end %>
                <% unless project.needs.nil? %>
                  <p>Nos besoins:<br/>
                        <ul>
                          <% project.needs.each do |need| %>
                            <li><%= need %></li>
                          <% end %>
                        </ul>
                  </p>
                <% end %>
                <% unless project.link.nil? %>
                  <p>Lien vers le projet : <a href="<%= project.link %>"><%= project.name %></a></p>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>