#projects {
  .card {
    background-color: #fff;
    margin-bottom: 7px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    height: 350px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-header {
    padding: 5px 0 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .card-body {
    padding: 10px 0px 10px 5px;
  }
}