<h1>Mentions Légales</h1>

<div class="row">
  <div class="col-sm-12">
    <li><strong>Site est édité par :</strong></li>
    <p><span>Bureau ouvert, TODO<br /></span></p>
    <ul>
      <li><strong><span><span>Directeur de publication </span></span></strong></li>
    </ul>
    <p><span>TODO</span></p>
    <ul>
      <li><strong><span><span>​Hébergeur</span></span></strong></li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>CONDITIONS GÉNÉRALES D'UTILISATION DU SITE BUREAU OUVERT</strong></p>
    <p><strong>Protection des données à caractère personnel</strong></p>
    <p>Vous êtes amené(e) à communiquer des informations à caractère personnel notamment par l’intermédiaire des formulaires de contact et d’inscription à des listes de diffusion proposés sur le présent site Internet.</p>
    <p>Vous êtes informé(e) que :</p>
    <ul>
      <li>Les données à caractère personnel collectées sur le présent site Internet sont exclusivement destinées à l’usage des services du bureau ouvert dans le cadre strict de l’exercice de ses missions et de son objet social. Ces données sont ainsi notamment traitées par le bureau ouvert dans le but, selon les formulaires et rubriques du présent site Internet, et sans que cette liste soit limitative de :
        <ul>
          <li>répondre à vos demandes d’information ou toute autre question ;</li>
          <li>vous inscrire à une liste de diffusion ou newsletter.</li>
        </ul>
      </li>
      <li>Le bureau ouvertne réalise aucune prospection commerciale. Les données personnelles vous concernant ne sont ni cédées, ni louées, à titre gratuit ou onéreux, à des tiers et ne font l’objet d’aucune exploitation commerciale.</li>
    </ul>
    <p>Conformément à la Loi n° 78-17 du 6 janvier 1978 relative à l&amp;#39;informatique, aux fichiers et aux libertés, vous disposez, à l’égard des données vous concernant, d&amp;#39;un droit d&amp;#39;accès, d’interrogation, de rectification et d&amp;#39;opposition aux informations que vous pouvez exercer en contactant l’association par voie postale à l’adresse : TODO</p>
    <p><strong>Cookie</strong></p>
    <p>Vous êtes informé(e) que, lors de vos visites sur le présent site Internet, un ou plusieurs témoins de navigation (ou cookies) peuvent s’installer automatiquement sur votre terminal dans le but d’enregistrer certaines informations concernant votre navigation (pages consultées, date et heure de consultation, etc.).</p>
    <p>Ces cookies servent à :</p>
    <ul>
      <li>améliorer votre navigation sur le site ;</li>
      <li>collecter des statistiques sur le nombre de visites et l’utilisation du site Internet et en mensure ainsi l’audience ;</li>
      <li>faciliter l’interaction et le partage avec les réseaux sociaux.</li>
    </ul>
    <p>Vous pouvez vous opposer à l’installation de cookies en configurant votre terminal selon votre système de navigation (Internet Explorer, Mozilla, Chrome…). Chaque éditeur de navigateur précise sur son site Internet les modalités vous permettant de configurer votre terminal de façon à ne pas recevoir de cookies.</p>
    <p><strong>Propriété intellectuelle</strong></p>
    <p>L’ensemble des contenus (texte, son, image, logiciel, logo, etc.) publiés sur le site internet du bureau ouvert sont protégés conformément aux dispositions du droit français et des conventions internationales relatives à la propriété intellectuelle.</p>
    <p>Sous réserve des dispositions des articles L.122-5, L.211-3 et L.342-3 du Code de la propriété intellectuelle, ainsi que des différentes conditions d’utilisations déterminées par des licences libres lorsque les contenus sont identifiés comme relevant d’une telle licence, toute reproduction et/ou communication au public de tout ou partie de ces contenus sont soumises à autorisation.</p>
    <p><strong>Liens hypertextes</strong></p>
    <p>Les liens hypertextes présentés sur le site en direction de ressources extérieures ne sauraient engager la responsabilité du bureau ouvert.</p>
    <p><strong>Responsabilité</strong></p>
    <p>Le bureau ouvert s’efforce de vérifier l’exactitude des informations mentionnées sur le présent site internet et se réserve le droit de les mettre à jour, de les modifier ou de les supprimer à tout moment et sans préavis.</p>
    <p>Le bureau ouvert n’assure toutefois aucune garantie, expresse ou tacite, concernant le contenu du site.</p>
    <p>Le bureau ouvert pourra être amené à interrompre à tout moment l’accès au site pour des raisons techniques.</p>
    <p>Le bureau ouvert ne saurait voir sa responsabilité engagée au titre d’un quelconque dommage résultant directement ou indirectement de l’utilisation du présent site.</p>
    <p><strong>CREDITS</strong></p>
    <p>Conception et réalisation du site : Le bureau ouvert sur la base du système de gestion de contenus open source Ruby et Middleman.</p>